{%- assign social = site.social -%}
<span class="icons">
<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#github' | relative_url }}"></use></svg></a>
<a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><svg class="icon"><use xlink:href="{{ '/assets/social-icons.svg#twitter' | relative_url }}"></use></svg></a>
</span>
