:root {
  --text: black; --bg: white; --bg-code: #f4f4f4; --link: #295cec;
  --code-keyword: #295cec; --code-comment: dimgray;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #eaeaea; --bg: #1c1d20; --bg-code: #404755; --link: #a2bbed;
    --code-keyword: #a2bbed; --code-comment: gray;
  }
}

body {
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem;
  color: var(--text);
  background: var(--bg);
  font-family: Avenir, Cantarell, "Segoe UI", sans-serif;
  font-size: 1.15rem;
  line-height: 1.4;
}

p > code {
  white-space: nowrap;
  background: var(--bg-code);
  padding: 0.1rem 0.3rem;
  border-radius: 0.8rem;
}

pre, code {
  font-family: monospace;
  font-size: 0.9rem;
}

hgroup h2 {
  margin-bottom: 0;
}

hgroup p {
  margin-top: 0;
}

footer {
  margin-top: 1rem;
}

a, a:visited {
  color: var(--link);
}

pre {
  background: var(--bg-code);
  padding: 1rem;
  overflow: auto;
}

table {
  display: block;
  overflow: auto;
}

td {
  padding-right: 1rem;
}

/* Code syntax */
.c, .c1, .cp, .cpf {
  color: var(--code-comment);
  font-style: italic;
}

.k, .kd, .kn, .kr, .kt, .nb, .nl, .nt {
  font-weight: bold;
  color: var(--code-keyword);
}

main > h1 {
  margin-top: 0;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  margin-top: 2rem;
}

.posts li h2 {
  margin: 0.5rem 0;
}
