:root { --text-main: black; --code: #5e6687 }
@media (prefers-color-scheme: dark) {
  :root { --text-main: #dbdbdb; --code: #979db4 }
}

body {
  max-width: 80ch;
}

/* Fix overflow - https://github.com/kognise/water.css/issues/174 */
table {
  display: block;
  overflow: auto;
}

.posts {
  list-style: none;
  padding-left: 0;
}

.posts li {
  margin-top: 2rem;
}

.posts li h2 {
  margin-top: 0.5rem;
}

[itemprop=author] {
  margin-left: 0.5rem;
}

.icons {
  float: right;
}

.icons .icon {
  color: var(--text-main);
  fill: currentColor;
  width: 16px;
  height: 16px;
}
