---
layout: default
---

<h1>{{ site.title }}</h1>

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
  {%- for post in site.posts -%}
  <li>
    <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time></small>
    <hgroup>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      <p>{{ post.description }}</p>
    </hgroup>
  </li>
  {%- endfor -%}
</ul>

<a href="{{ 'feed.xml' | relative_url }}">Subscribe</a>
{%- endif -%}
